# assume case sensitive, which is acheived with
# git config core.ignorecase false

## Sync stuff
.add*.unison

## Apple stuff
.DS_Store

## emacs backups
auto/
*~

## old files
old/

## private files
TODO.txt
