# assume case sensitive, which is acheived with
# git config core.ignorecase false

## private files
TODO.txt

## "old" files
*_old
*_old.*
old/

## Sync files
.addsubfolders.unison
.addthisfolder.unison

## Emacs backups
auto/
*~
#*#
.#*#

## Apple stuff
.DS_Store

